{% extends 'base.html.twig' %}

{% block title %}Result: {{ result }}{% endblock %}

{% block body %}
    <div id="resultPage">
        Result: {{ result }}.<br>
        Click <a href="/calculator">here</a> to go back.
    </div>
{% endblock %}